# Node / package managers
node_modules/
.pnp/
.pnp.cjs
.npm/
.yarn/
.turbo/

# Build output
dist/
build/
.vite/
.cache/
.temp/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.local
.env.*.local

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
Icon

# Misc
Thumbs.db


